html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    background-color: whitesmoke;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
     outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.navbar {
    background-color: #02548E;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1;
    box-shadow: black 2px 2px 2px 2px;
}

.navbar .anamenu a {
    position: absolute;
    color: white;
    left: 500px;
    top: 15px;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    transition-duration: 0.6s;
}

.navbar .anamenu a:hover {
    color: rgb(18, 198, 253);
}

.navbar .havalimani a {
    position: absolute;
    color: white;
    left: 605px;
    top: 15px;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    transition-duration: 0.6s;
}

.navbar .havalimani a:hover {
    color: rgb(18, 198, 253);
}

.navbar .tablolar a {
    position: absolute;
    color: white;
    left: 740px;
    top: 15px;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    transition-duration: 0.6s;
}

.navbar .tablolar a:hover {
    color: rgb(18, 198, 253);
}

.navbar .fa-plane {
    position: absolute;
    font-size: 30px;
    top: 10px;
    left: 20px;
    color: whitesmoke;
}

.active {
    width: 100px;
    background-color: red;
}

.navbar .cikis a {
    position: relative;
    left: 1400px;
    top: 0px;
    cursor: pointer;
    transition-duration: 0.6s;
    font-size: 18px;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar .cikis a i {
    position: relative;
    color: whitesmoke;
    font-size: 16px;
    margin-right: 4px;
    color: white;
    transition-duration: 0.6s;
}

.navbar .cikis a:hover {
    color: white;
}

.navbar .cikis i:hover {
    color: red;
}

.navbar .ucusyon {
    position: absolute;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    left: 60px;
    top: 14px;
    color: seashell;
}

.kut8 {
    position: absolute;
    width: 1400px;
    height: 300px;
    left: 100px;
    top: 60px;
    background-color: white;
    box-shadow: gray 2px 2px 4px 4px;
}

.kut8 p {
    font-size: 30px;
    text-align: center;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
}

.kut8 table {
    position: absolute;
    left: 50px;
    width: 1300px;
    height: 220px;
    background-color: whitesmoke;
    color: black;
    border: 1px solid black;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
}

.kut8 table th {
    background-color: #0795C7;
    color: white;
    border: 1px dashed black;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
}

.kut8 .ucaklar th tr {
    padding-top: 15px;
}

.kut9 {
    position: absolute;
    width: 1400px;
    height: 300px;
    background-color: white;
    left: 100px;
    top: 390px;
    box-shadow: gray 4px 4px 4px 4px;
}

.kut9 p {
    font-size: 30px;
    text-align: center;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
}

.kut9 .alınacak {
    position: absolute;
    left: 50px;
    width: 1300px;
    height: 200px;
    background-color: whitesmoke;
    color: black;
    border: 1px black solid;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
}

.kut9 table th {
    background-color: #0795C7;
    color: whitesmoke;
    border: 1px dashed black;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
}

.kut9 .alınacak th {
    margin-top: 10px;
}

.kut9 .alınacak .baslik th {
    font-weight: bolder;
    color: white;
    font-size: 19px;
}